<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Trauma Stage Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Child Trauma Stage Detection System</h1>
    </header>
    <main>
        <section id="welcome-section">
            <h2>Hello, {{ username }}!</h2>
            <p>
                Our mission is to support you in identifying the stages of trauma in children and providing guidance for effective intervention. With our system, you can gain insights into the emotional and psychological impact of trauma and explore practical solutions.
            </p>
            <p>
                Take the first step towards understanding and healing by using our prediction tool. We’re here to assist you every step of the way.
            </p>
            <div class="button-container">
                <button id="predictPageButton">Explore the Prediction Tool</button>
                <button id="signupPageButton">Go to Sign-Up Page</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Stanley Mwange</p>
    </footer>
    <script>
        document.getElementById('predictPageButton').addEventListener('click', () => {
            window.location.href = '/predict';
        });

        document.getElementById('signupPageButton').addEventListener('click', () => {
            window.location.href = '/signup';
        });
    </script>
</body>
</html>
