<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Trauma Stage Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Child Trauma Stage Detection System</h1>
    </header>
    <main>
        <section id="welcome-section">
            <h2>Welcome to Child Trauma Stage Detetion System, {{ username }}</h2>
            <p>
                Our website is dedicated to helping children, parents, and caregivers understand and navigate the complex landscape of child trauma.
            </p>
        </section>
        <button id="predictPageButton">Go to Prediction Page</button>
    </main>
    <footer>
        <p>&copy; 2024 Stanley Mwange</p>
    </footer>
    <script>
        document.getElementById('predictPageButton').addEventListener('click', () => {
            window.location.href = '/predict';
        });
    </script>
</body>
</html>
