<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trauma Stage Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Child Trauma Prediction</h1>
    </header>
    <main class="prediction-container container">
        <form action="/predict" method="post">
            <h2>Fill in the details to get the prediction:</h2>
            
            <label for="severity">To What Extent is the Severity of the Traumatic Symptoms:</label>
            <input type="number" id="severity" name="severity" min="0" max="10" required>
            
            <label for="psychological_impact">To What Extent Has The Child Been Psychologically Impacted:</label>
            <input type="number" id="psychological_impact" name="psychological_impact" min="0" max="10" required>
            
            <label for="previous_trauma_history">Does The Child Have Previous Trauma History:</label>
            <input type="number" id="previous_trauma_history" name="previous_trauma_history" min="0" max="1" required>
            
            <label for="medical_history">Does The Child Have Past Medical History:</label>
            <input type="number" id="medical_history" name="medical_history" min="0" max="1" required>
            
            <label for="therapy_history">To What Extent Has The Child had Therapy History:</label>
            <input type="number" id="therapy_history" name="therapy_history" min="0" max="10" required>
            
            <label for="lifestyle_factors">To What Extent Are Lifestyle Factors Interfering With the Healing Process:</label>
            <input type="number" id="lifestyle_factors" name="lifestyle_factors" min="0" max="10" required>
            
            <label for="resilience_factors">To What Extent Is The Child Exposed to Resilience Factors:</label>
            <input type="number" id="resilience_factors" name="resilience_factors" min="0" max="10" required>
            
            <label for="exposure_to_stressors">To What Extent Is The Child Exposed to Stressors:</label>
            <input type="number" id="exposure_to_stressors" name="exposure_to_stressors" min="0" max="10" required>
            
            <label for="sleep_patterns">How Good Are The Sleep Patterns Of The Child:</label>
            <input type="number" id="sleep_patterns" name="sleep_patterns" min="0" max="10" required>
            
            <label for="emotional_regulation">How Good is the Child at Emotional Regulation:</label>
            <input type="number" id="emotional_regulation" name="emotional_regulation" min="0" max="10" required>
            
            <div class="button-container">
                <input type="submit" value="Get Prediction" class="blue-button">
                <button id="goBackButton" class="green-button">Go Back</button>
            </div>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Stanley Mwange</p>
    </footer>
    <script>
        document.getElementById('goBackButton').addEventListener('click', () => {
            window.location.href = '/';
        });
    </script>
</body>
</html>
