<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Sign Up / Login</h1>
    </header>
    <main>
        <div id="login-box">
            <div id="signup-form" class="form-container">
                <form action="/signup" method="post">
                    <h2>Sign Up</h2>
                    <input type="text" id="signup-email" name="email" placeholder="E-mail" required/>
                    <input type="password" id="signup-password" name="password" placeholder="Password" required/>
                    <input type="text" id="signup-username" name="username" placeholder="Username" required/>
                    <input type="submit" id="signup" name="signup_submit" value="Sign Up" class="blue-button"/>
                </form>
                <div class="or">Already have an account? <a href="#" id="show-login">Login here</a></div>
            </div>
            <div id="login-form" class="form-container" style="display: none;">
                <form action="/login" method="post">
                    <h2>Login</h2>
                    <input type="text" id="login-email" name="email" placeholder="E-mail" required/>
                    <input type="password" id="login-password" name="password" placeholder="Password" required/>
                    <input type="submit" id="login" name="login_submit" value="Login" class="blue-button"/>
                </form>
                <div class="or">Don't have an account? <a href="#" id="show-signup">Sign Up here</a></div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Stanley Mwange</p>
    </footer>
    <script>
        document.getElementById('show-login').addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('signup-form').style.display = 'none';
            document.getElementById('login-form').style.display = 'block';
        });
        document.getElementById('show-signup').addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('signup-form').style.display = 'block';
        });
    </script>
</body>
</html>
